body {
  background: linear-gradient(#e54d50, #e4547e);
}
.App {
  width: 100%;
  height: 100vh;
  background: linear-gradient(#e54d50, #e4547e);
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-inner-container {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 650px;
  height: 850px;
  background: rebeccapurple;
  background: whitesmoke;
  border-radius: 10px;
  /* overflow: hidden; */
}

/* ********************  Todo Title container  ************************** */

.title-container {
  height: 10%;
}

.todo-title {
  padding-top: 25px;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
}

/* **********************   Input Container start  ************************ */

.input-box-container {
  height: 15%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.form-container {
  margin: 0 auto;
  width: 90%;
  height: 60px;
  display: flex;
  border: 2px solid #e54d50;
  border-radius: 6px;
}

.form-container input {
  flex: 88%;
  padding: 10px 20px;
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  outline: none;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.4px;
  color: #40514e;
}

.form-container input::placeholder {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #e54d50;
}

.form-container .button {
  flex: 12%;
  display: grid;
  place-items: center;
  color: #40514e;
}

.form-container .button:hover {
  background: transparent;
}

.form-container .button .addbutton {
  color: #e54d50;
}

/* ****************************  Todos Container start  ******************************* */

.todo-container {
  overflow-y: scroll;
  height: 75%;
}

/* *****************  Scroll bar  ************* */

.todo-container::-webkit-scrollbar {
  display: none;
}

.todo-block {
  position: relative;
  margin: 0 auto;
  width: 90%;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  height: 60px;
  background: #dee1ec;
  border-radius: 6px;
  cursor: pointer;
}

.todo-block .left-todo {
  position: relative;
  flex: 85%;
  padding: 0 0 0 15px;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

.todo-block .left-todo form {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.todo-block .left-todo .todo-name {
  width: 100%;
  height: 90%;
  border: none;
  margin: auto 0;
  margin-left: 10px;
  padding-left: 15px;
  font-size: 18px;
  font-weight: 600;
  background: transparent;
  outline: none;
  color: #3e3636;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}

.todo-block .left-todo .todo-name.active {
  background: white;
}

.completed {
  opacity: 0.6;
}

.todo-block .right-todo {
  flex: 15%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.todo-block .right-todo .cleartodo {
  font-size: 20px;
  cursor: pointer;
  color: #e54d50;
  transition: 0.4s ease-in;
}

.todo-block .edit-todo-container,
.todo-block .clear-todo-container {
  display: grid;
  place-items: center;
}

.todo-block .edit-todo-container .edittodo {
  font-size: 20px;
  color: #e54d50;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.todo-block .right-todo .cleartodo:hover {
  transform: rotate(180deg);
}

.todo-block:hover .left-todo .todo-name {
  margin-left: 15px;
}

/* **********************************  Clear Button start   ******************************** */

.clear-container {
  position: absolute;
  bottom: 0;
  right: -110px;
  margin: 40px auto;
  padding: 12px 20px;
  background: #dee1ec;
  display: grid;
  place-items: center;
  border-radius: 6px;
  cursor: pointer;
  transform: 0.3s ease-in;
  transform: rotate(90deg);
  animation: movement 12s linear infinite;
}

.clear-container .clear {
  background: transparent !important;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 600;
}

.clear-container:hover {
  background: whitesmoke !important;
}

@keyframes movement {
  0% {
    bottom: 82%;
  }
  50% {
    bottom: 0%;
  }
  100% {
    bottom: 82%;
  }
}

.error {
  padding: 4px 34px;
  color: red;
  font-weight: 600;
}
